.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
}

.label{
    color: var(--text-color);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input:focus {
    border-color: var(--primary-color);
}

.button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: var(--primary-hover);
}

.toggleButton {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggleButton:hover {
    color: var(--primary-hover);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
}
